body {
    color: blueviolet;
    background-color: blueviolet;
    
}
body {
    color:white;
}
body {
    color:white;
}
ol {
    color: aqua;
    
}
img {
    margin-left: 500px;
}